<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chava.ti">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Details_Claustro"></activity>
        <activity android:name=".Activities.versus" />
        <activity android:name=".Activities.InstaActivity" />
        <activity android:name=".Activities.FbActivity" />
        <activity android:name=".Activities.Welcome" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.grupos" />
        <activity android:name=".Activities.claustro" />
        <activity android:name=".Activities.faq" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>